body {
    font-family: 'Public Sans', sans-serif;
}

.container-fluid {
    max-width: 1024px;
}

table {
    text-align: center;
}

div .form {
    margin: 0 auto;
    margin-bottom: 30px;
}
button {

}